<h1>My Collection</h1>

Upload a new pano: 
<%= link_to 'New Pano', new_image_path %> <br/>

<% @images.each do |image| %>
	<div class="pano_row">
	 	<%= link_to image_tag(image.file_url(:thumb), :class => 'small_banner'), image_path(image.hashed_url) %>
		<div class="pano_deets">Share this pano with anyone using this link: <br/><br/>
			<span class='shareable_link_community'><%= request.protocol + request.host_with_port %>/<%= image.hashed_url %></span>
		</div>
	</div>
	<br/>
<% end %>

