<h1>all sickpanos</h1>

<% @images.each do |image| %>
	<div class="pano_deets">
		<% if image.user.email == current_user.email %>
			sickpano cred: <%= link_to(image.user.username, mypanos_users_path) %>
		<% else %>
			sickpano cred: <%= link_to(image.user.username, user_path(image.user)) %>
		<% end %>
	</div>
 	<div><%= link_to image_tag(image.file_url, :class => 'full_banner_community'), image_path(image.hashed_url) %></div>
    <br clear="all" />
<% end %>

<br />
